<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%white(%d{yyyy-MM-dd HH:mm:ss}) %boldMagenta(MARKETVALUE) %highlight(%-5level) %cyan(%logger{36}.%M\(%line\)) - %msg%n</Pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGGING_FILE}/bio-exporter.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOGGING_FILE}/bio-exporter.%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- keep 30 days' worth of history capped at 3GB total size -->
            <maxHistory>30</maxHistory>
            <totalSizeCap>500MB</totalSizeCap>

        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [MARKETVALUE] [%thread] %-5level %C - %L - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.cryptocurrency.marketvalue" level="trace" />

    <logger name="org.springframework" level="error" />
    <logger name="org.mongodb" level="error" />

    <root level="info">
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
    </root>


</configuration>
